html {
    scroll-behavior: smooth;
}
  
:root {
    --fire: linear-gradient(200deg,rgb(255,96,0),rgb(255, 236, 63));
    --earth: linear-gradient(200deg, rgb(24,23,17), rgb(80, 61, 38));
    --air: linear-gradient(200deg, rgb(14, 56, 63), rgb(71, 177, 196));
    --water: linear-gradient(200deg, rgb(27, 39, 27), rgb(114,111,59));;
}

* {
    margin: 0; padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 16px;
}

h1 {font-size: 40px;}
p {padding: 20px 5px 0px 5px;}

.container {
    position: relative;
/*    overflow: hidden; */
    height: 100vh;
    width: 100vw;
}

.leftSection {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
}

.leftSection > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.firstSolid {
    background: var(--earth);
}
.secondSolid {
    background: var(--fire);
}
.thirdSolid {
    background: var(--air);
}
.foursSolid {
    background: var(--water);
}

.rightSection {
    position: absolute;
    top: 0;
    left: 35%;
    height: 100%;
    width: 65%;
}

.rightSection > div{
    background-position: center center; 
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.firstSlide {
    background-image: url('https://images.unsplash.com/photo-1492496913980-501348b61469?ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MjR8bEZ1VWt4d0lPN3d8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=60');
}
.secondSlide {
    background-image: url('https://images.unsplash.com/photo-1543005472-1b1d37fa4eae?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1268&q=80');
}
.thirdSlide {
    background-image: url('https://images.unsplash.com/photo-1520985244272-9d0b8067a4ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXx3bkhMUDduSnVTUXx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=1400&q=60');
}
.fourthSlide {
    background-image: url('https://images.unsplash.com/photo-1526352393350-d58abf5b6f4e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1802&q=80');
}

button {
    position: absolute;
    z-index: 50;
    padding: 15px;
    background-color: white;
    color: rgb(173, 173, 173);
    cursor: pointer;
    border: none;
}

button:hover {
    color: rgb(17, 17, 17);
}

.upButton {
    top: calc(50% - 43px);
    left: 35%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.downButton{
    top: 50%;
    left: calc(35% - 40px);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
