html {
    scroll-behavior: smooth;
}
  
:root {
    --yellow: linear-gradient(200deg,#ffb777, #ffa777);
    --grey: linear-gradient(200deg, #252E33, #1e2529);
    --blue: linear-gradient(200deg, #2A86BA, #2575a3);
    --pink: linear-gradient(200deg, #FD3555, #dd2947);;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    height: 100vh;
    color: white;
}

h1 {font-size: 40px;}

.container {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.leftsection {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 40%;
}

.leftsection > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.firstSolid {
    background: var(--yellow);
}
.secondSolid {
    background: var(--grey);
}
.thirdSolid {
    background: var(--blue);
}
.foursSolid {
    background: var(--pink);
}

.rightSection {
    position: absolute;
    top: 0;
    left: 40%;
    height: 100%;
    width: 60%;
}

.rightSection > div{
    background: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}


