.gallery-section{
    position: relative;
    // height: 2200px;
    height: calc(100vw + 280px);
    padding-top: 75px;
    overflow: hidden;
    // object-position: top;
}
.gallery-container{
    // height: 153.6vw;
    // height: 2950px;
    height: calc(105vw + 980px);
    overflow: visible;
}

.art-container{
    overflow: hidden;
    margin-top: 75px;
    // width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    // height: 100%;
    height: calc(100% - 75px - 90px);
    row-gap: 24px;
    column-gap: 36px;
    img{
        width: 31.5%;
    }
    :first-child{
        padding-top: 50px;
    }
    :nth-child(11){
        margin-top: 50px;
    }
}

.art-container::after{
    content:"";
    position: absolute;
    bottom: 0px;
    // left: 0;
    width: calc(100% - 40px);
    max-width: 1440px;
    height: 360px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    
}   

