.gallery-section{
    position: relative;
    height: 2200px;
    padding-top: 75px;
    overflow: hidden;
    object-position: top;
}

.art-container{
    // overflow: hidden;
    margin-top: 75px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    div{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}

.art-container::after{
    content:"";
    position: absolute;
    bottom: 0px;
    // left: 0;
    width: calc(100% - 40px);
    max-width: 1440px;
    height: 360px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    
}   

.shadow{
    position: relative;
    height: 360px;
    background-color: blue;
    top: -360px;
    // transform: translateY(-100%)
}