

header{
    background: var(--bg-dark);
    padding: 60px 0px 55px 0;
    color: #fff;
    height: 150px;
    margin-bottom: -32px;
    
  } 
  
  
  .header-container {
    display: flex;
    height: 33px;
    justify-content: space-between;
  }
  
  .logo-container {
    background:url("../assets/svg/logo.svg") no-repeat; 
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 199px;
    height: 33px;
  }
  
  .menu-container{
    width: 775px;
    height: 26px;
  }
  
  .menu-container ul{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
   
  