.paralax-section{
    height: 400px;
    background:url("../assets/parallax.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
    /* background-size: 100% 100%; */
  }