.paralax-section{
    height: 400px;
    background:url("../assets/parallax.jpg") no-repeat;
    // background-position: center -497px;
    background-size: cover;
    background-size: 100vw;
    background-attachment: fixed;
  }