.contacts-section{
  height: 963px;
  padding: 75px 0;
}

.contacts-container{
  margin-top: 103px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  
} 

.text-contacts{
  width: 282px; 
  min-width: 282px;
  height: 244px;
  font-family: Roboto;
  font-style: normal;
  h6{
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: black;
    margin-bottom: 50px;
  }
  p, a{
    margin-bottom: 26px;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0px;
  }
}

.map-image{
  width: 70%;
  height: 620px;
  background: url(../assets/img/Map.png) no-repeat right top;
  background-size: contain;
}


