@media(max-width: 768px){
     //GLOBAL
     .section-title {
        font-size: 40px;
        line-height: 60px;

    }
    
    .border-title::after {
        bottom: -23px;
    }

    // HEADER
    header{
        height: 110px;
    } 
        
    .logo-container{
        bottom: -7px;
        position: relative;
    }

    //WELCOME
    .welcome-section{
        height: 112.2vw;
    }
    
    .welcome-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .welcome-left{
        margin-bottom: 35px;
        height: 242px;
        bottom: 0px;
        align-items: center;
        text-align: center;
        p{
            font-size: 20px;
            line-height: 23px;
        }
    }
    
    .discover-button{
        display: none;
    }

    .welcome-slide-container{
        width: 100%;
    }
    .welcome-slide{
        width: 100%;
        background:url("../assets/welcome-slider/1.jpg") no-repeat;
        background-size: contain;
    }

    .welcome-panel-container{
        height: 100px;
        justify-content: center;
        background: #030303;
    }
    .slide-panel{
        padding: 0;
        width: 401px;
        
        
        span{
            font-size: 20px;
            letter-spacing: 1px;
        }
    }
    .slide-numbers {
        width: 73px;
        margin-right: 5px;
    }            
    //VISITING
    .visiting-section{
        // height: 159.7vw;
        height: 1226px;
        padding: 40px 0;
    }
    .cards-container{
        margin-top: 63px;
        gap: 41px calc(12% - 32px);
    }
    .card{
        width: calc(30% + 62px);
        height: 300px;
    }
    h3 {
        font-size: 22px;
        line-height: 24px;
    }
    h3::after{
        bottom: -11px;
        left: 0px;
        right: 130px;
    }


    .card-paragraf {
        font-size: 18px;
        line-height: 21px;
    }  
      
    // EXPLORE

    .explore-section{
        padding: 40px 0;
        height: 908px;
    }
    .explore-text-container{
        div{
            display: none;
        }
        h2{
            margin-bottom: 8px;
        }
    }
    .explore-img-container {
        height: 705px;
        width: 728px;
        background-size: cover;
        #lasMeninas{
            height: 100%;

        }
    }
    .explore-img-container::after {
        content: url("../assets/explore-slider/explore slider.svg");
        top: 0;
    }

    // VIDEO

    .video-section{
        padding: 40px 0;
        height:calc(70vw + 300px);
    }
    
    .video {
        // height: 42vw;
        background: transparent url("../assets/video-slides/poster.jpg") 50% 50% / cover no-repeat;
    }

    .video-text {
        margin-bottom: 20px;
    }
    
    .player-container{
        row-gap: 20px;
    }

    .player::before {
        left: 44.3%;
        top: 32.3%;
        width: 11%;
        height: 24%;
    }

    .controls{
        height: 53px;
        padding-left: 30px;
        gap: 0;
    }

    .play-button{
        padding-right: 30px;
    }

    .progress-slider {
        position: absolute;
        left: 0;
        top: -6px;
        width: 100%;
    }


    .progress-slider_filled{
        flex-basis: 31.5%;
    }
    .progress{
        height: 5px;
    }
    

    .progress_filled::after {
        height: 13px;
        width: 13px;
        top:-3px
    }

    .volume-slider {
        max-width: 73%;
        margin-right: 11px;
        div{
            flex-basis: 40%;
        }
    }
    .volume-button{
        padding-left: 15px;
        height: 22px;
    }

    .fullscreen-button{
        height: 27px;
        padding-left: 22px;
    }

    .video-library {
        height: 25.9vw;
        display: flex;
        justify-content: flex-start;
        gap: 2.5vw;
        iframe {
           width: 46.15vw;
        }
    }
    .video-slider{
        width: 190px;
        svg{
            width: 10px;
        }
    }

     // GALLERY


     .gallery-section{
        padding-top: 40px;
        height: calc(100vw + 452px);
    }

    .art-container{
        column-gap: 3.2%;
        margin-top: 40px;
        img{
            width: 48.4%;
        }
    }

     //TICKETS

     .tickets-section{
        height: 633px;
        padding: 40px 0;
    }
    .tickets-container{
        height: 430px;
        margin-top: 63px;
        width: 93.3%;
        img {
            min-width: 190px;
            width: 57.8vw;
            height: 340px; 
            // height: 43vw;
            object-fit: cover;
        }
    }
    .amount{
        
        
        h4{
            margin-bottom: 29px;
        }
    }
    .amount-paragraf{
        margin-bottom: 9px;
    }
    
    .amount-box{
        margin-bottom: 20px;
    }
    .amount-paragraf2{
        margin-top: 33px;
        margin-bottom: 40px;
    }
    

    // PARALAX
    .paralax-section{
        height: 300px;
    }

    //CONTACTS

    .contacts-section{
        padding: 40px 0;
        height: 925px;
    }

    .contacts-container{
        margin-top: 63px;
        flex-direction: column;
    }

    .text-contacts{
        height: 219px;
        h6{
            font-size: 20px;
            line-height: 23px;
            margin-bottom: 40px;
        }
        a, p{
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 15px;
        }
    }

    .map-image{
        width: 100%;
        height: 476px;
        background-size: calc(100% + 227px);
        
    }

    
}