.explore-section{
    min-height: 865px;
    padding: 75px 0;
    
}

.explore-container{
    height: 100%;
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    div{
        display: flex;
        flex-direction: column; 
        
        
    }
}

.explore-text-container{
    margin-right: 60px;
    margin-bottom: 40px;
    width: 659px;
    h2{
        margin-bottom: 103px;
    }

    p{
        margin-bottom: 25px;
        font-size: 22px; 
        font-family: "Roboto"; 
        font-style: normal;
        color: white; 
        // letter-spacing: 0.2px; 
        font-weight: 300;
        line-height: 38.5px;
    }
}
    
    


.explore-img-container{
    position: relative;
    margin-top: 15px;
    height: 700px;
    width: 720px;
    background: url("../assets/explore-slider/after.jpg");
    #lasMeninas{
        object-position: left;
        object-fit: cover;
        width: 440px;
    }
    
    #slider{
        height: 100%;
    }
}

.explore-img-container::after{
    content: url("../assets/explore-slider/explore\ slider.png");
    position: absolute;
    bottom: -3px;
    left: 440-19.5px;
}

span{color: var(--font-gold);
}