.section{
    width: 100vw;
  }
  
  .container {
    // height: 100%;
    align-self: center;
    margin: 0 auto;
    max-width: 1440px;
    width: calc(100% - 40px);
    overflow: hidden;
  }
  
  .dark-section{
      background-color: var(--bg-dark);}
    
  .section-title {font-size:var(--font1); font-family: 'Forum'; color: var(--font-gold); text-transform: uppercase; font-weight: normal; line-height: 90px; letter-spacing: 5px;}
  .dark-title {color: white;}