.video-library{
    width: 1935px;
    height: 254px;
    display: flex;
    justify-content: space-between;
    iframe{
        width: 452px;
    }
    // margin: 40px 0;
}

// .first-video{
//     height: 254px;
//     width: 420px;
    
// }

.video-slider{
    align-self: center;
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: 12px;
}
